@model SimpleBudget.Web.Models.PlanPayments.IndexModel

<style>
    table.payments td:nth-child(1) {
        white-space: nowrap;
    }

    table.payments th:nth-child(7),
    table.payments td:nth-child(7),
    table.payments td:nth-child(9) {
        text-align: right;
        white-space: nowrap;
    }

    table.payments td:nth-child(8) {
        text-align: center;
    }

    table.payments tr.selected td {
        font-weight: bold;
    }

    ul.pagination {
        margin-top: 0px;
    }
</style>

<div class="card">
    <div class="card-header">
        <h5>Plan Payments</h5>
    </div>
    <div class="card-body">

        <div class="row mb-3">
            <div class="col-lg-6">
                <input id="FilterTextBox" type="text" class="form-control" style="width:400px;display:inline;" maxlength="100" placeholder="Filter" value="@Model.Filter.FilterText" />
                <a id="FilterButton" href="#" title="Filter" class="ml-1"><i class="bi-search"></i></a>
                <a id="ClearFilterButton" href="#" title="Clear Filter" class="ml-1"><i class="bi-x-lg"></i></a>
            </div>
            <div class="col-lg-6">
                <div class="float-end pb-3">
                    <div class="btn-group pr-2" role="group" aria-label="...">
                        <a href="?type=@(Model.Filter?.FilterType == "expenses" ? "" : "expenses")&text=@Model.Filter?.FilterTextEncoded" class="btn btn-outline-secondary @(Model.Filter?.FilterType == "expenses" ? "active" : "")">
                            Expenses
                        </a>
                        <a href="?type=@(Model.Filter?.FilterType == "income" ? "" : "income")&text=@Model.Filter?.FilterTextEncoded" class="btn btn-outline-secondary @(Model.Filter?.FilterType == "income" ? "active" : "")">
                            Income
                        </a>
                        <a href="?type=@(Model.Filter?.FilterType == "transfer" ? "" : "transfer")&text=@Model.Filter?.FilterTextEncoded" class="btn btn-outline-secondary @(Model.Filter?.FilterType == "transfer" ? "active" : "")">
                            Transfer
                        </a>
                    </div>

                    <a href="/planpayments/add?page=@Model.Page@Model.Filter?.FilterParams" class="btn btn-secondary">
                        <i class="bi-plus-circle"></i>
                        Add Plan Payment
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped payments">
                    <thead>
                        <tr>
                            <th>Date Range</th>
                            <th>Company</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Wallet</th>
                            <th>Person</th>
                            <th>Value</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr data-id="@item.PlanPaymentId" @(item.PlanPaymentId == Model.PlanPaymentId ? "class=selected" : "")>
                                <td>
                                    @item.FormattedPaymentDateRange
                                    <small>#@item.PlanPaymentId</small>

                                    @if (item.IsActiveAndInDate)
                                    {
                                        <div><small><b>Active</b></small></div>
                                    }
                                    else
                                    {
                                        <div><small>Inactive</small></div>
                                    }

                                </td>
                                <td>@item.CompanyName</td>
                                <td>@item.Description</td>
                                <td>
                                    @item.CategoryName
                                    @if (item.TaxYear.HasValue)
                                    {
                                        <div>
                                            <small>
                                                Tax Year: @item.TaxYear
                                            </small>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @item.WalletName
                                </td>
                                <td>
                                    @item.PersonName
                                </td>
                                <td>
                                    @Html.Raw(item.FormattedValue)
                                </td>
                                <td>
                                    @if (item.Taxable)
                                    {
                                        <span class="glyphicon glyphicon-briefcase" title="Taxable" style="color:orange;"></span>
                                    }
                                </td>
                                <td>
                                    <a href="/planpayments/edit?id=@item.PlanPaymentId@Model.Filter?.FilterParams" title="Edit" class="btn btn-link">
                                        <i class="bi-pencil"></i>
                                    </a>
                                    <a href="/planpayments/remove?id=@item.PlanPaymentId@Model.Filter?.FilterParams" title="Remove" class="btn btn-link">
                                        <i class="bi-x-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <nav aria-label="...">
                    <ul class="pagination">
                        @if (Model.Section > 1)
                        {
                            <li class="page-item"><a class="page-link" href="?page=@(Model.StartPageInSection - 1)@Model.Filter?.FilterParams">...</a></li>
                        }

                        @for (int i = Model.StartPageInSection; i <= Model.EndPageInSection; i++)
                        {
                            <li class="page-item@(i == Model.Page ? " active" : "")">
                                @if (i == Model.Page)
                                {
                                    <span class="page-link">
                                        @i
                                    </span>
                                }
                                else
                                {
                                    <a class="page-link" href="?page=@i@Model.Filter?.FilterParams">
                                        @i
                                    </a>
                                }
                            </li>
                        }

                        @if (Model.Section < Model.SectionCount)
                        {
                            <li class="page-item"><a class="page-link" href="?page=@(Model.EndPageInSection + 1)@Model.Filter?.FilterParams">...</a></li>
                        }
                    </ul>
                </nav>
            </div>
            <div class="col-md-3" style="text-align:right;">
                <strong>
                    Page @Model.Page of @Model.PageCount - Items @Model.StartItem to @Model.EndItem of @Model.TotalItemCount
                </strong>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FilterTextBox')
                .on('keydown', onKeyDown);

            $("#FilterButton")
                .on("click", onFilterClick);

            $("#ClearFilterButton")
                .on("click", onClearFilterClick);

            function onKeyDown(e) {
                if (e.which === 13) {
                    e.preventDefault();
                    $('#FilterButton')[0].click();
                }
            }

            function onFilterClick(e) {
                e.preventDefault();

                var baseUrl = '?type=@Model.Filter?.FilterType@Html.Raw(Model.Page > 1 ? "&page=" + Model.Page : "")';
                var text = $("#FilterTextBox").val();
                var url = text != null && text.length > 0 ? baseUrl + "&text=" + encodeURIComponent(text) : baseUrl;

                window.location.href = url;
            }

            function onClearFilterClick(e) {
                e.preventDefault();

                window.location.href = '?type=@Model.Filter?.FilterType';
            }
        });
    </script>
} 