@model SimpleBudget.Web.Models.PlanPayments.RemoveModel

<div class="card">
    <div class="card-header">
        <h5>Remove Plan Payment #@Model.Id</h5>
    </div>
    <div class="card-body">

        <form action="@Context.Request.Path@Context.Request.QueryString" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-6">

                    <div class="mb-3">
                        <label class="form-label">Type</label>
                        <div>@Model.PaymentType</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Is Active?</label>
                        <div>@(Model.IsActive ? "Yes" : "No")</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Date Range</label>
                        <div>
                            @Model.FormattedPaymentDateRange
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Company</label>
                        <div>
                            @(Model.Company ?? "None")
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <div>
                            @(Model.Category ?? "None")
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Wallet</label>
                        <div>
                            @Model.Wallet
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <div>
                            @(Model.Description ?? "None")
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Value</label>
                        <div>
                            @Model.Value
                        </div>
                    </div>

                    <input type="submit" class="btn btn-danger" value="Remove" />
                    <a href="/payments?id=@Model.Id&type=@Model.Type&text=@Model.TextEncoded" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>