@model SimpleBudget.Web.Models.Wallets.IndexModel

<style>
    table.categories th:nth-child(3),
    table.categories td:nth-child(3),
    table.categories th:nth-child(4),
    table.categories td:nth-child(4) {
        text-align: center;
    }

    table.categories th:nth-child(5),
    table.categories td:nth-child(5) {
        width: 100px;
    }
</style>

<div class="card">
    <div class="card-header">
        <h5>Wallets <small>(@Model.Items.Count)</small></h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="text-end pb-3">
                    <a href="/dictionaries/wallets/add" class="btn btn-secondary">
                        <i class="bi-plus-circle"></i>
                        Add Wallet
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped categories">
                    <thead>
                        <tr>
                            <th>Wallet</th>
                            <th>Person</th>
                            <th>Currency</th>
                            <th>Payments</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @item.WalletName
                                </td>
                                <td>
                                    @item.PersonName
                                </td>
                                <td>
                                    @item.CurrencyCode
                                </td>
                                <td>
                                    @item.PaymentCount
                                </td>
                                <td>
                                    <a href="/dictionaries/wallets/edit?id=@item.WalletId" title="Edit" class="btn btn-link">
                                        <i class="bi-pencil"></i>
                                    </a>
                                    <a href="/dictionaries/wallets/remove?id=@item.WalletId" title="Remove" class="btn btn-link">
                                        <i class="bi-x-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>