@model SimpleBudget.Web.Models.Payments.RemoveModel

<div class="card">
    <div class="card-header">
        <h5>Remove Payment #@Model.Id</h5>
    </div>
    <div class="card-body">

        <form action="@Context.Request.Path@Context.Request.QueryString" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-6">

                    <div class="mb-3">
                        <label class="form-label">Type</label>
                        <div>@Model.PaymentType</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Date</label>
                        <div>@Model.Date</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Company</label>
                        <div>@(Model.Company ?? "None")</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <div>@(Model.Category ?? "None")</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Wallet</label>
                        <div>@Model.Wallet</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <div>@(Model.Description ?? "None")</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Value</label>
                        <div>@Model.Value</div>
                    </div>

                    @if (Model.PaymentType == "Transfer")
                    {
                        <div class="mb-3">
                            <label class="form-label">Transfer to Wallet</label>
                            <div>@Model.WalletTo</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Transferred Value</label>
                            <div>@Model.ValueTo</div>
                        </div>
                    }

                    <input type="submit" class="btn btn-danger" value="Remove" />
                    <a href="/payments?id=@Model.Id&type=@Model.Type&text=@Model.TextEncoded" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>