@model SimpleBudget.Web.Models.Reports.SummaryModel

<style>
    table.wallets th:nth-child(3),
    table.wallets td:nth-child(3),
    table.wallets td:nth-child(4),
    table.wallets th:nth-child(4),
    table.wallets td:nth-child(5),
    table.wallets th:nth-child(5) {
        text-align: right;
    }

    table.currencies th:nth-child(2),
    table.currencies td:nth-child(2),
    table.currencies td:nth-child(3),
    table.currencies th:nth-child(3),
    table.currencies td:nth-child(4),
    table.currencies th:nth-child(4) {
        text-align: right;
    }

    table.wallets td:nth-child(2),
    table.wallets th:nth-child(2) {
        text-align: center;
    }
</style>

<div class="card">
    <div class="card-header">
        <h5>Summary</h5>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-7">
                <div class="header">Wallets</div>

                <table class="table table-striped wallets">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Currency</th>
                            <th>Value</th>
                            <th>Rate</th>
                            <th>Value (CAD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.WalletItems)
                        {
                            <tr>
                                <td>@item.WalletName</td>
                                <td>@item.CurrencyCode</td>
                                <td>@Html.Raw(item.FormattedValue)</td>
                                <td>@Html.Raw(item.FormattedRate)</td>
                                <td>@Html.Raw(item.FormattedValueCAD)</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="5" style="text-align:right;"><strong>@Html.Raw(Model.FormattedTotalWallet)</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="header">Currencies</div>

                <table class="table table-striped currencies">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Value</th>
                            <th>Rate</th>
                            <th>Value (CAD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CurrencyItems)
                        {
                            <tr>
                                <td>@item.CurrencyCode</td>
                                <td>@Html.Raw(item.FormattedValue)</td>
                                <td>@Html.Raw(item.FormattedRate)</td>
                                <td>@Html.Raw(item.FormattedValueCAD)</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="4" style="text-align:right;"><strong>@Html.Raw(Model.FormattedTotalCurrency)</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="checkbox" id="DeductTax" @(Model.DeductUnpaidTaxes ? "checked" : "") />
                <label for="DeductTax">Deduct unpaid taxes</label>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#DeductTax").on("change", function () {
                var checked = $("#DeductTax").is(":checked");
                var url = checked ? "/reports/summary" : "/reports/summary?deduct=0";

                window.location.href = url;
            });
        });
    </script>
}